
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pageTitle %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <% for (var i=0; i < metatags.length; i++) {%>
     <%- metatags[i] %>
    <% } %>

    <link rel="shortcut icon" type="image/ico" href="//d2znry4lg8s0tq.cloudfront.net/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

  <% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href='dist/styles.css' />
  <% } %>

  </head>
  <body>
    <div id="hack">
      <%- markup %>
    </div>

    <script type='text/javascript'>
      var path = '<%= path %>';
    </script>

  <% if (isProduction) { %>
    <script async src="dist/<%= assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:<%= webpackPort %>/bundle.js"></script>
  <% } %>

    <!-- Optimizely -->
    <script src="https://cdn.optimizely.com/js/284748925.js"></script>
    <!-- Optimizely -->
  </body>
</html>
